<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>Inscription</title>

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--external css-->
  <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet">
  <link href="css/style-responsive.css" rel="stylesheet">
  
 
</head>

<body>
 
  <div id="login-page">
    <div class="container">
     {% for message in app.flashes('danger') %}
            <div class="alert alert-danger" style="margin-top: 4px;width: 500px;margin-left: 300px;">
                <i class="fa fa-exclamation-triangle" style="font-size: 28px;margin-top: -10px;"></i><p style="font-size: 17px;margin-left: 45px;margin-top: -26px;">{{ message }}</p>
            </div>
        {% endfor %}
  
          {% for message in app.flashes('info') %}
            <div class="alert alert-info" style="margin-top: 4px;width: 500px;margin-left: 300px;">
               <i class="fa fa-check" style="font-size: 28px;margin-top: -10px;"></i> <p style="font-size: 17px;margin-left: 45px;margin-top: -26px;">{{ message }}</p>
            </div>
        {% endfor %}
      <form class="form-login" action="{{path('newaccount')}}"  method="post"style="height:423px  !important;">
        <h2 class="form-login-heading">S’inscrire</h2>
        <div class="login-wrap" style="margin-top: 30px;">
      
        <select  class="form-control" id="idemployer" style="color:black;width:287px;height:40px; font-family: 'FontAwesome'" name="idemployer">
        {%for emp in employe%}
        {% if  (emp.idemp!='') %}
  <option value="{{emp.idemp}}"> &nbsp;&nbsp;&nbsp;&#xf2c2; {{emp.matricule}}</option>
  {%endif%}
 {%endfor%}
  
</select>
<br>
          <input type="text" class="form-control" placeholder="Nom@societe.com.tn.." autofocus  name="email"   style="margin-top: 32px;height: 40px;" required autofocus>
          <br>
            {% for message in app.flashes('empty') %}
            <div class="emptyinput" style="margin-top: -2px;width: 390px;margin-left: 17px;color:#D93025">
                <i class="fa fa-exclamation-triangle" style="font-size: 14px;margin-top: 0px;"></i><p style="font-size: 11px;margin-left: 21px;margin-top: -16px;"><strong>{{ message }}</strong></p>
            </div>
        {% endfor %}<br>
         
         {% for message in app.flashes('incorrectemail') %}
            <div class="emptyinput" style="margin-top: -27px;width: 390px;margin-left: 17px;color:#D93025">
                <i class="fa fa-exclamation-triangle" style="font-size: 14px;margin-top: 0px;"></i><p style="font-size: 11px;margin-left: 21px;margin-top: -16px;"><strong>{{ message }}</strong></p>
            </div>
        {% endfor %}<br>
          <button class="btn btn-theme btn-block" href="index.html" type="submit" style=" margin-top:24px;height:40px;width:123px;margin-left:82px"><i class="fa fa-edit" style=" margin-top:6px;height:30px;"></i> S’inscrire</button>
         
          <label style="margin-top: 16px;margin-left: 49px;"><a class="Connecter" href="{{path('app_login')}}">Se connecter à un compte existant</a></label>
         </div>
        <!-- Modal -->
       
        <!-- modal -->
      </form>
    </div>
  </div>
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <!--BACKSTRETCH-->
  <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
  <script type="text/javascript" src="lib/jquery.backstretch.min.js"></script>
   <script>
    $.backstretch("img/login10.jpg", {
      speed: 500
    });
  </script>
</body>

</html>
